<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
          <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
          <property name="url" value="jdbc:mysql://localhost:3306/smbms">  </property>
          <property name="username" value="root"></property>
          <property name="password" value="root"></property>
    </bean>
	<!-- 配置SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	            <!-- 引用数据源组件 -->
	            <property name="dataSource" ref="dataSource"></property>
	            <!-- 引用MyBatis配置文件中的配置 -->
	            <property name="configLocation" value="classpath:mybatis-config.xml"></property>
	          
	</bean>
	<!-- 定义事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager ">
	      <property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- 通过<tx:advice>标签指定的事物管理器设置事物属性 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
	          <!-- 定义属性，声明事务规则 -->
	          <tx:attributes>
	                    <tx:method name="find*" propagation="SUPPORTS"/>
	                    <tx:method name="add*" propagation="REQUIRED"/>
	                    <tx:method name="del*" propagation="REQUIRED"/>
	                    <tx:method name="upda*" propagation="REQUIRED"/>
	                    <tx:method name="*" propagation="REQUIRED"/>
	          </tx:attributes>
	
	</tx:advice>
	<aop:config>
	        <!-- 定义切入点 -->
	        <aop:pointcut  id="serviceMethod" expression="execution(* service..*.*(..))"/>
	        <!-- 将事务增强与切入点结合 -->
	         <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
	</aop:config>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	          <property name="basePackage" value="dao"></property>
	</bean>
	<!-- 配置扫描注解定义的业务Bean -->
	<context:component-scan base-package="service.Impl"></context:component-scan>
</beans>